#wrap{
  width: 100%;
  height: auto;
}

#wrap > *{
  width: 100%;
}

#header{
  height: 160px;
  box-sizing: border-box;
  position: relative;
}

#main-img{
  height: 420px;
  position: relative;
  overflow: hidden;
}

#contents{
  height: auto;
}

#footer{
  margin-top: 50px;
  height: auto;
  margin-bottom: 30px;
}

